body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* Sidebar Css */
.sidebar {
    color: white;
    position: fixed;
    height: 100vh;
    width: 224px;
    background-color: #000000;
}

.sidebar .active {
    width: 60px;
}

.sidebar ul {
    margin-top: 50px;
}

.logo-details {
    margin-top: 11px;
    line-height: 0;
    text-align: center;
    min-width: 50px;
}

.logo-details small {
    font-size: 9px;
}

.sidebar li a,
.dropdown-btn {
    display: block;
    list-style: none;
    height: 50px;
    transition: all 0.4s ease;
}

.submenu {
    display: none;
    padding-left: 0px;
}
.submenu a {
    display: block;
}

/* Add an active class to the active dropdown button */
.active {
    color: #FF7901;
}
.sidebar ul{
    list-style: none;
}
.sidebar li a {
    text-decoration: none;
    color: #7D7D7E;
    width: 100%;
    align-items: center;
    transition: all ease 0.4ms;
}

.sidebar li a span {

    margin-left: 22px;
    font-size: 14px;
}

.sidebar li a i:hover {
    color: #FF7901 !important;
}

/* Home section */

.home-section {
    background: #FCFBFF;
    position: relative;
    width: 100%;
    min-height: 100vh;
    width: calc(100% - 224px);
    left: 224px;
}

/* home nav css */
.navbar {
    display: flex;
    justify-content: end;
    align-items: center;
    position: fixed;
    width: calc(100% - 224px);
    left: 224px;
    z-index: 100;
    background-color: #000000;
    height: 90px;
    color: white;
}

.navbar .profile-btn {
    width: 200px;
    height: 60px;
    position: relative;
    background: #FFFFFF;
    border: none;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
    border-radius: 45px;
    padding: 0 10px 0 10px;
    margin: 0 30px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000000;
    font-weight: 500;
    font-size: 20px;
    z-index: 2;
    cursor: pointer;

}

.user-profile li {
    list-style: none;
    display: inline-block;
}

#first {
    margin-top: 40px;
}

.dropdown {
    margin-right: 30px;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    margin-top: -35px;
    margin-left: 30px;
    display: none;
    position: absolute;
    background: #FFFFFF;
    border: 1px solid #F2F2F4;
    box-shadow: 0px 30px 20px -20px rgba(198, 211, 232, 0.2);
    border-radius: 10px;
    min-width: 198px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content .log-btn {
    margin: 5px 0 30px 40px;
    font-size: 16px;
    border: none;
    padding: 10px 16px;
    background: rgba(255, 1, 1, 0.1);
    border-radius: 5px;
    cursor: pointer;
    color: #FF7901;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}


/* Home Section Card CSS */
.card-section {
    display: flex;
    position: relative;
    padding-top: 100px;
}

.user-profile img {
    margin: 10px;
}

.user-card {
    margin: 30px 0 30px 30px;
    text-align: center;
    height: 300px;
    width: 20%;
    float: left;
    padding: 15px 15px 0 15px;
    background: #FFFFFF;
    border: 1px solid #F2F2F4;
    border-radius: 10px
}

.user-card img {
    height: 100px;
    width: 100px;
    margin: 20px 0 10px 0;
}

.user-card h3 {
    color: #000000;
    margin: 0
}

.user-card p {
    color: #7D7D7E;
    margin: 5px 0 5px 0;
    font-size: 12px;
}

.credit-card-section {
    margin: 30px;
    height: 300px;
    width: 75%;
    float: left;
    padding: 15px 15px 0 15px;
    background: #FFFFFF;
    border: 1px solid #F2F2F4;
    border-radius: 10px;
}

.card-title {
    margin: 50px 0 10px 0;
}

.card {
    display: flex;
    justify-content: space-around;
}

.credit-card1,
.credit-card2,
.credit-card3 {
    height: 140px;
    width: 250px;
    padding: 10px;
    color: #7D7D7E;
    margin: 10px 15px 15px 0px;
    font-size: 20px;
    background: #FFFFFF;
    border: 1px solid #F2F2F4;
    border-radius: 10px;
    cursor: pointer;
}

.credit-card1,
.credit-card2,
.credit-card3 {
    font-size: 15px;
}

#trash {
    float: right;
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.credit-card2 {
    border: 1px solid #FF7901;
}

.credit-card2 #trash {
    background: #FFD7D7;
}

/* Home section body Contetnt css */

.home-content {
    background: #FFFFFF;
    margin: 0 30px 30px 30px;
    border: 1px solid #F2F2F4;
    border-radius: 10px;
}

.title {
    height: 78px;
    display: flex;
    border-bottom: 2px solid #F2F2F4;
    justify-content: center;
    margin-bottom: 20px;
}

.title p {
    margin: 0;
    font-weight: 500;
}

.content-title {
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: end;

}

.title-design {
    color: #FF7901;
    border-bottom: 2px solid #FF7901;
}

.email-content {
    width: 70%;
    margin: auto;
}

.email-content li {
    list-style: none;
    margin-bottom: 30px;
}

.credit-input {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    margin: 15px;
}

#input {
    background: #FFFFFF;
    width: 250px;
    height: 60px;
    border: 1px solid #F2F2F4;
    border-radius: 10px;
    padding: 0 0 0 20px;
}

.border {
    margin: 30px 0 40px 0;
    padding: 15px 0 15px 0;
    border-top: 2px solid #F2F2F4;
    border-bottom: 2px solid #F2F2F4;
}

.email-content button {
    color: #FFFFFF;
    border: none;
    padding: 10px 16px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'poppins';
    background: #FF7901;
    box-shadow: 0px 20px 50px rgba(255, 121, 1, 0.3);
    border-radius: 5px;
    margin-bottom: 50px;
}

/* Media Query For Medium Device */

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .credit-input {
        display: flex;
        flex-direction: column;
    }
    .home-section {
        width: calc(100vw - 70px);
        left: 70px;
        overflow-wrap: break-word;
    }
    .navbar {
        width: calc(100% - 70px);
        left: 70px;
    }
    .sidebar span {
        display: none;
    }
    .sidebar {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70px;
    }
    .sidebar ul {
        padding-left: 0;
    }
    .sidebar li a {
        font-size: 25px;
    }
    .sidebar .logo-details img {
        height: 30px;
        width: 30px;
    }
    .logo-details p {
        font-size: 10px;
    }
    .logo-details small {
        font-size: 6px;
    }

    .navbar {
        height: 80px;
    }

    .navbar .profile-btn {
        width: 160px;
        height: 50px;
        font-size: 16px;
    }

    .dropdown-content {
        min-width: 160px;
    }

    .dropdown-content a {
        font-size: 12px;
        height: 10px;
    }

    .dropdown-content .log-btn {
        width: 100%;
        margin: auto;
    }

    .card-section {
        display: flex;
        flex-direction: column;
    }

    .user-card {
        width: auto;
        margin-right: 15px;
    }

    .card-title {
        font-size: 20px;
        text-align: center;
        margin: 20px;
    }

    .card h3 {
        font-size: 15px;
    }

    .credit-card-section {
        width: 90%;
        padding: 0 10px 5px 10px;
    }

    .home-content {
        margin: 0 18px 30px 30px;
    }

    .title p {
        font-size: 14px;
    }
}

@media only screen and (min-width: 300px) and (max-width: 768px){

    .home-section {
        width: calc(100vw - 60px);
        left: 60px;
        overflow-wrap: break-word;
    }
    .navbar {
        width: calc(100% - 60px);
        left: 60px;
    }
    .card-section{
        display: flex;
        flex-direction: column;
    }
    .user-card{
        width: auto;
    }
    .credit-card-section{
        height: max-content;
       
    }
    .card{
        display: flex;
        flex-direction: column;
        height: fit-content;
        align-items: center;
    }
    .card-title{
        text-align: center;
    }
    .sidebar span {
        display: none;
    }
    .sidebar {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60px;
    }
    .sidebar ul {
        padding-left: 0;
    }
    .sidebar li a {
        font-size: 25px;
    }
    .sidebar .logo-details img {
        height: 30px;
        width: 30px;
    }
    .logo-details p {
        font-size: 10px;
    }
    .logo-details small {
        font-size: 6px;
    }

    .navbar {
        height: 70px;
    }

    .navbar .profile-btn {
        width: 160px;
        height: 50px;
        font-size: 16px;
    }

    .dropdown-content {
        min-width: 160px;
    }

    .dropdown-content a {
        font-size: 12px;
        height: 10px;
    }

    .dropdown-content .log-btn {
        width: 100%;
        margin: auto;
    }
    .credit-input{
        display: flex;
        flex-direction: column;
    }
}